@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
}

.container{
    display:flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width:50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-container{
    background-color: white;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: hsl(218, 22%, 67%);
}

.top-container h1{
    color:hsl(179, 62%, 43%);
}

.top-container h3{
    color:hsl(71, 73%, 54%);
}

.left-side{
    width: 50%;
    /* display: block; */
    float: left;
    padding: 30px;
    background-color: hsl(179, 62%, 43%);
    /* border-bottom-left-radius: 10px; */
    color: white;
    
}
.bottom-container{
    display:flex;
    flex-direction: row;
   
}

.left-side p.one{
    color: hsla(0, 0%, 100%, 0.5);
}

strong{
    font-size: 35px;
    color: white;
}
 button{
    background-color: hsl(71, 73%, 54%);
    color: white;
    padding: 10px;
    width: 75%;
    border-radius: 4px;
    font-weight: bold; 
    border: none;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .right-side{
     width:50%;
     padding:30px;
     background-color: hsl(179, 47.2%, 51.8%);
 }

 .right-side h2{
     color: white;
 }

 .right-side ul{
     list-style-type: none;
 }
 .right-side ul li{
    color: hsla(0, 0%, 100%, 0.5);

 }

 @media only screen and (max-width:500px){
    
    .container{
       width:100%;
    }
    
    .bottom-container{
        flex-direction: column;
    }
    .left-side,.right-side{
         width: 85%;
     }

     button{
         width: 100%;
     }

 }